@model NoItemsViewModel
<h2 class="ui icon header center aligned">
    <i class="@Model.Icon icon"></i>
    <div class="content">
        @Model.Heading
        <div class="sub header">@Model.Description</div>
    </div>
</h2>