
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>To sell beers on Brewsy you need a Stripe account. Click the link below to get started.</p>
<a href="https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_CDL751FNMHXlc63c4m4kRPyuUyFltZ7A&scope=read_write" class="ui button">Connect to Stripe</a>
