@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="ui attached message">
    <div class="header">
        Login
    </div>
    <div asp-validation-summary="ModelOnly" class="red-text">
    </div>

</div>
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="ui form attached fluid segment">

    <div class="two fields">
        <div class="field">
            <label asp-for="Firstname"></label>
            <input asp-for="Firstname" />
            <span asp-validation-for="Firstname" class="red-text"></span>
        </div>
        <div class="field">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" />
            <span asp-validation-for="Surname" class="red-text"></span>
        </div>
    </div>
    <div class="field">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="red-text"></span>
    </div>
    <div class="two fields">
        <div class="field">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="red-text"></span>
        </div>
        <div class="field">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="red-text"></span>
        </div>
    </div>

    <div class="field">
        <label asp-for="SelectedUserType"></label>
        <select asp-for="SelectedUserType" asp-items=" Html.GetEnumSelectList<UserType>()"></select>
    </div>



    <div class="inline field">
        <div class="ui checkbox">
            <input type="checkbox" id="terms">
            <label for="terms">I agree to the terms and conditions</label>
        </div>
    </div>

    <button type="submit" class="ui primary button">Register</button>
</form>

<div class="ui bottom attached warning message">
    <i class="icon help"></i>
    Already signed up? <a href="#">Login here</a> instead.
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
